In [317]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [318]:
X_train=pd.read_csv('train_X.csv')
y_train=pd.read_csv('train_Y.csv')

X_test=pd.read_csv('test_X.csv')
y_test=pd.read_csv('test_Y.csv')

In [319]:
X_train.head()

   Id  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0   0       3    0  22.0      1      0   7.2500         1
1   1       1    1  38.0      1      0  71.2833         0
2   2       3    1  26.0      0      0   7.9250         1
3   3       1    1  35.0      1      0  53.1000         1
4   4       3    0  35.0      0      0   8.0500         1

In [320]:
X_train=X_train.drop("Id", axis=1)
y_train=y_train.drop("Id" ,axis=1)
X_test=X_test.drop("Id" ,axis=1)
y_test=y_test.drop("Id" ,axis=1)

In [321]:
y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [322]:
X_train=X_train.values
y_train=y_train.values
X_test=X_test.values
y_test=y_test.values

In [323]:
X_train=X_train.T 
y_train=y_train.reshape(1,X_train.shape[1])

In [324]:
X_test=X_test.T 
y_test=y_test.reshape(1,X_test.shape[1])

In [325]:
print("shape of X_train is ", X_train.shape)
print("shape of y_train is ", y_train.shape)
print("shape of X_test is ", X_test.shape)
print("shape of X_train is ", y_test.shape)

shape of X_train is  (7, 891)
shape of y_train is  (1, 891)
shape of X_test is  (7, 418)
shape of X_train is  (1, 418)

In [326]:
def sigmoid(X):
  return 1/(1 + np.exp(-X))

# def sigmoid(x):
#     z = np.clip(x, -500, 500)  # Clip to prevent overflow
#     return 1 / (1 + np.exp(-x))

In [327]:
def model(X,y,learning_rate,Iteration):
  m=X_train.shape[1]  # no of observation 
  n=X_train.shape[0]  # no of feature 
  
  w=np.zeros((n,1))
  b=0
  
  cost_list=[]
  
  for i in range (Iteration):
    
    z=np.dot(w.T ,X +b)
    A=sigmoid(z)
    
    #cost function
    
    cost=(-1/m)*np.sum(y*np.log(A)+(1-y)*np.log(1-A))
    
    #gradient descent 
    dw=(1/m)*np.dot(A-y ,X.T)
    db=(1/m)*np.sum(A-y)
    
    w=w-learning_rate*dw.T
    b=b-learning_rate*db
    
    cost_list.append(cost)
    
    if(i%(Iteration/10) == 0):
            print("cost after ", i, "iteration is : ", cost)
  return w,b,cost_list

In [329]:
iteration=100000
learning_rate=0.0015
w,b,cost_list=model(X_train,y_train,learning_rate=learning_rate,Iteration=iteration)

cost after  0 iteration is :  0.6931471805599454

KeyboardInterrupt: